.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style38 {
  background-color: #f6f8f9;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  width: 100vw;
  height: 3.4722222222222223vw;
  align-items: center
}
.desktop1container10row0 {
  display: flex;
  margin-left: 1.3888888888888888vw;
  width: 97.22222222222223vw;
  height: 2.0833333333333335vw;
  align-items: center
}
.style39 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  margin-left: 0;
  height: 1.0416666666666667vw
}
.style40,
.style41,
.style42,
.style43 {
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  height: .8333333333333334vw
}
.style40 {
  color: #343638;
  margin-left: 73.81944444444444vw
}
.style41,
.style42,
.style43 {
  color: rgba(52,54,56,.5);
  margin-left: 77.98611111111111vw
}
.style41,
.style42 {
  margin-left: 83.95833333333333vw
}
.style42 {
  margin-left: 88.68055555555556vw
}
.style44 {
  margin-left: 95.13888888888889vw;
  width: 2.0833333333333335vw;
  height: 2.0833333333333335vw;
  border-radius: 15px
}
.desktop1row1,
.style0 {
  display: flex;
  margin-left: 0;
  height: 41.666666666666664vw
}
.desktop1row1 {
  margin-top: 5vh;
  width: 100vw
}
.style0 {
  background-image: url(https://designresources.assets.yotako.io/e7upykk5vk949loke.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  width: 58.333333333333336vw;
  flex-direction: column
}
.desktop1row1image0column0 {
  display: flex;
  margin-left: 9.722222222222221vw;
  margin-top: 12.291666666666666vw;
  width: 41.666666666666664vw;
  height: 17.15277777777778vw;
  flex-direction: column
}
.style6 {
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 42px;
  margin-top: 0;
  width: 41.666666666666664vw
}
.style1,
.style2,
.style6 {
  color: #fff;
  font-family: Helvetica,serif
}
.style2 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 6.944444444444445vw;
  width: 41.666666666666664vw
}
.style1 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: 9.305555555555555vw;
  width: 38.888888888888886vw
}
.style3,
.style4 {
  display: flex;
  width: 9.305555555555555vw;
  height: 2.7777777777777777vw
}
.style3 {
  margin-top: 14.375vw
}
.style4 {
  background-color: #fa6980;
  align-items: center;
  justify-content: center;
  border-radius: 6px
}
.style5 {
  color: #fff;
  text-align: center;
  font-family: Helvetica,serif;
  font-size: .7638888888888888vw;
  font-weight: 700;
  line-height: 20px;
  width: 5.138888888888889vw
}
.style75 {
  background-color: #fff;
  display: flex;
  margin-left: 58.333333333333336vw;
  width: 41.666666666666664vw;
  height: 41.666666666666664vw;
  flex-direction: column
}
.desktop1row1container22column0 {
  display: flex;
  margin-left: 6.944444444444445vw;
  margin-top: 6.944444444444445vw;
  width: 29.166666666666668vw;
  height: 27.708333333333332vw;
  flex-direction: column
}
.desktop1row1container22column0row0 {
  display: flex;
  margin-top: 0;
  width: 26.38888888888889vw;
  height: 1.3888888888888888vw;
  align-items: center
}
.style76 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 22.98611111111111vw
}
.style79 {
  display: flex;
  margin-left: 22.77777777777778vw;
  flex-direction: column
}
.style79,
.style80 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style77 {
  display: flex;
  margin-left: 25.97222222222222vw;
  flex-direction: column
}
.style77,
.style78 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style82 {
  display: flex;
  margin-top: 6.944444444444445vw;
  height: 20.76388888888889vw
}
.style82,
.style83,
.style84 {
  width: 29.166666666666668vw
}
.style83 {
  display: flex;
  height: 8.958333333333334vw
}
.style84 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 20px
}
.style84,
.style85,
.style86 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style85 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  line-height: 20px;
  margin-top: 2.361111111111111vw;
  width: 29.166666666666668vw
}
.style86 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 26px;
  margin-top: 4.166666666666667vw;
  width: 26.38888888888889vw
}
.desktop1row1container22column0grid1container25row3 {
  display: flex;
  margin-left: 0;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw;
  align-self: flex-end
}
.style88 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style88,
.style89 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style87 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 26px;
  margin-left: 1.8055555555555556vw;
  width: 4.027777777777778vw
}
.style90,
.style91 {
  width: 29.166666666666668vw
}
.style90 {
  display: flex;
  height: 8.958333333333334vw;
  align-self: flex-end
}
.style91 {
  color: #fa6980;
  font-family: Helvetica,serif;
  font-weight: 700;
  line-height: 20px
}
.style91,
.style92,
.style93 {
  font-size: 1.1111111111111112vw;
  margin-left: 0
}
.style92 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  line-height: 20px;
  margin-top: 2.361111111111111vw;
  width: 29.166666666666668vw
}
.style93 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  line-height: 26px;
  margin-top: 4.166666666666667vw;
  width: 26.38888888888889vw
}
.desktop1row1container22column0grid1container27row3 {
  display: flex;
  margin-left: 0;
  width: 5.833333333333333vw;
  height: 1.1111111111111112vw;
  align-self: flex-end
}
.style95 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style95,
.style96 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style94 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 26px;
  margin-left: 1.8055555555555556vw;
  width: 4.027777777777778vw
}
.desktop1row2 {
  display: flex;
  margin-left: 9.722222222222223vw;
  margin-top: 69vh;
  width: 80.55555555555556vw;
  height: 1.3888888888888888vw;
  align-items: center
}
.style70 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 71.18055555555556vw
}
.style73 {
  display: flex;
  margin-left: 76.94444444444444vw;
  flex-direction: column
}
.style73,
.style74 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style71 {
  display: flex;
  margin-left: 80.13888888888889vw;
  flex-direction: column
}
.style71,
.style72 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.desktop1grid0row0,
.style45 {
  display: flex;
  width: 80.55555555555556vw;
  height: 24.305555555555557vw
}
.style45 {
  margin-left: 9.722222222222223vw;
  margin-top: 75vh
}
.desktop1grid0row0 {
  justify-content: space-between
}
.desktop1grid0row0container11column0,
.style46 {
  display: flex;
  width: 25vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.desktop1grid0row0container11column0 {
  margin-top: 0
}
.style47,
.style48 {
  width: 25vw;
  height: 12.5vw;
  border-radius: 6px 6px
}
.style48 {
  margin-top: 0
}
.style47 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw
}
.style49,
.style50 {
  margin-left: 2.7777777777777777vw;
  width: 19.444444444444443vw
}
.style49 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px;
  margin-top: 3.4722222222222223vw
}
.style50 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: 5.277777777777778vw
}
.desktop1grid0row0container11column0container12row2 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 8.61111111111111vw;
  width: 4.791666666666667vw;
  height: 1.1111111111111112vw
}
.style52 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style52,
.style53 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style51 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.desktop1grid0row0container14column0,
.style54 {
  display: flex;
  width: 25vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.desktop1grid0row0container14column0 {
  margin-top: 0
}
.style55,
.style56 {
  width: 25vw;
  height: 12.5vw;
  border-radius: 6px 6px
}
.style56 {
  margin-top: 0
}
.style55 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw
}
.style57,
.style58 {
  margin-left: 2.7777777777777777vw;
  width: 19.444444444444443vw
}
.style57 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px;
  margin-top: 3.4722222222222223vw
}
.style58 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: 5.277777777777778vw
}
.desktop1grid0row0container14column0container15row2 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 8.61111111111111vw;
  width: 4.583333333333333vw;
  height: 1.1111111111111112vw
}
.style60 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style60,
.style61 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style59 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.desktop1grid0row0container17column0,
.style62 {
  display: flex;
  width: 25vw;
  height: 24.305555555555557vw;
  flex-direction: column
}
.desktop1grid0row0container17column0 {
  margin-top: 0
}
.style63,
.style64 {
  width: 25vw;
  height: 12.5vw;
  border-radius: 6px 6px
}
.style64 {
  margin-top: 0
}
.style63 {
  background-color: #fff;
  position: relative;
  display: flex;
  margin-top: -.6944444444444444vw
}
.style65,
.style66 {
  margin-left: 2.7777777777777777vw;
  width: 19.444444444444443vw
}
.style65 {
  font-weight: 700;
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.1111111111111112vw;
  line-height: 20px;
  margin-top: 3.4722222222222223vw
}
.style66 {
  color: #a6adb4;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  line-height: 23px;
  margin-top: 5.277777777777778vw
}
.desktop1grid0row0container17column0container18row2 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 8.61111111111111vw;
  width: 4.583333333333333vw;
  height: 1.1111111111111112vw
}
.style68 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style68,
.style69 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style67 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.desktop1row4 {
  display: flex;
  margin-left: 9.722222222222223vw;
  width: 80.55555555555556vw;
  height: 1.3888888888888888vw;
  align-items: center
}
.style8 {
  color: #202124;
  font-family: Helvetica,serif;
  font-size: 1.6666666666666667vw;
  font-weight: 700;
  line-height: 20px;
  margin-left: 0;
  width: 53.47222222222222vw
}
.style99 {
  display: flex;
  margin-left: 76.94444444444444vw;
  flex-direction: column
}
.style100,
.style99 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.style97 {
  display: flex;
  margin-left: 80.13888888888889vw;
  flex-direction: column
}
.style97,
.style98 {
  width: .4166666666666667vw;
  height: .6944444444444444vw
}
.desktop1row5 {
  display: flex;
  margin-left: 9.722222222222223vw;
  width: 80.55555555555556vw;
  height: 62.5vw
}
.desktop1row5grid3column0,
.style120 {
  display: flex;
  width: 52.77777777777778vw;
  height: 62.5vw;
  flex-direction: column
}
.style120 {
  margin-left: 0
}
.desktop1row5grid3column0 {
  margin-top: 0
}
.style121,
.style122 {
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw
}
.style121 {
  margin-top: 0
}
.style122 {
  background-image: url(https://designresources.assets.yotako.io/e7upykk5vk949m0l9.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 6px
}
.style123,
.style124,
.style128 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 2.7777777777777777vw
}
.style128 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 20px;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw
}
.style123,
.style124 {
  width: 47.22222222222222vw
}
.style124 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 20vw
}
.style123 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: 22.36111111111111vw
}
.desktop1row5grid3column0container37image29row3 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 25.97222222222222vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style126 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style126,
.style127 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style125 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.6666666666666667vw;
  height: 1.0416666666666667vw
}
.style129,
.style130 {
  display: flex;
  width: 52.77777777777778vw;
  height: 29.86111111111111vw
}
.style129 {
  margin-top: 32.638888888888886vw
}
.style130 {
  background-image: url(https://designresources.assets.yotako.io/e7upykk5vk949m141.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  border-radius: 6px
}
.style131,
.style132,
.style136 {
  color: #fff;
  font-family: Helvetica,serif;
  margin-left: 2.7777777777777777vw
}
.style136 {
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 20px;
  margin-top: 2.7777777777777777vw;
  width: 47.916666666666664vw
}
.style131,
.style132 {
  width: 47.22222222222222vw
}
.style132 {
  font-weight: 700;
  font-size: 1.6666666666666667vw;
  line-height: 34px;
  margin-top: 20vw
}
.style131 {
  font-size: 1.1111111111111112vw;
  line-height: 26px;
  margin-top: 22.36111111111111vw
}
.desktop1row5grid3column0container39image31row3 {
  display: flex;
  margin-left: 2.7777777777777777vw;
  margin-top: 25.97222222222222vw;
  width: 4.652777777777778vw;
  height: 1.1111111111111112vw
}
.style134 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style134,
.style135 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style133 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.6666666666666667vw;
  height: 1.0416666666666667vw
}
.desktop1row5grid2column0,
.style101 {
  display: flex;
  width: 25vw;
  height: 62.22222222222222vw;
  flex-direction: column
}
.style101 {
  margin-left: 55.55555555555556vw
}
.desktop1row5grid2column0 {
  margin-top: 0;
  justify-content: space-between
}
.style102 {
  display: flex;
  width: 25vw;
  height: 18.88888888888889vw
}
.style103,
.style104 {
  margin-left: 0;
  width: 25vw
}
.style104 {
  height: 14.583333333333334vw;
  border-radius: 6px
}
.style103 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15.972222222222221vw
}
.desktop1row5grid2column0container31row2 {
  display: flex;
  margin-left: 0;
  width: 10.48611111111111vw;
  height: 1.1111111111111112vw;
  align-self: flex-end
}
.style106 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style106,
.style107 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style105 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.style108 {
  display: flex;
  width: 25vw;
  height: 18.88888888888889vw
}
.style109,
.style110 {
  margin-left: 0;
  width: 25vw
}
.style110 {
  height: 14.583333333333334vw;
  border-radius: 6px
}
.style109 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15.972222222222221vw
}
.desktop1row5grid2column0container33row2 {
  display: flex;
  margin-left: 0;
  width: 8.055555555555555vw;
  height: 1.1111111111111112vw;
  align-self: flex-end
}
.style112 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style112,
.style113 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style111 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.style114 {
  display: flex;
  width: 25vw;
  height: 18.88888888888889vw
}
.style115,
.style116 {
  margin-left: 0;
  width: 25vw
}
.style116 {
  height: 14.583333333333334vw;
  border-radius: 6px
}
.style115 {
  color: #202124;
  font-family: 'Acumin Pro',serif;
  font-size: 1.1111111111111112vw;
  font-weight: 700;
  line-height: 26px;
  margin-top: 15.972222222222221vw
}
.desktop1row5grid2column0container35row2 {
  display: flex;
  margin-left: 0;
  width: 8.958333333333334vw;
  height: 1.1111111111111112vw;
  align-self: flex-end
}
.style118 {
  display: flex;
  margin-left: 0;
  flex-direction: column
}
.style118,
.style119 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style117 {
  color: #a6adb4;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  margin-left: 1.8055555555555556vw;
  height: 1.0416666666666667vw
}
.style9 {
  background-color: #a6adb4;
  display: flex;
  margin-left: 0;
  width: 100vw;
  height: 13.88888888888889vw
}
.desktop1container1row0 {
  display: flex;
  margin-left: 9.722222222222221vw;
  margin-top: 3.888888888888889vw;
  width: 80.55555555555556vw;
  height: 2.7777777777777777vw
}
.style22 {
  color: #fff;
  font-family: 'Acumin Pro',serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  margin-left: 0;
  height: .9027777777777778vw
}
.desktop1container1row0column1 {
  display: flex;
  margin-left: 6.944444444444445vw;
  width: 4.305555555555555vw;
  height: 2.638888888888889vw;
  flex-direction: column
}
.style10,
.style19 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 1.0416666666666667vw
}
.style10 {
  margin-top: 0
}
.style19 {
  margin-top: 1.5972222222222223vw
}
.desktop1container1row0column2 {
  display: flex;
  margin-left: 13.88888888888889vw;
  width: 2.638888888888889vw;
  height: 2.638888888888889vw;
  flex-direction: column
}
.style11,
.style20 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 1.0416666666666667vw
}
.style11 {
  margin-top: 0
}
.style20 {
  margin-top: 1.5972222222222223vw
}
.desktop1container1row0column3 {
  display: flex;
  margin-left: 20.833333333333332vw;
  width: 5.486111111111111vw;
  height: 2.638888888888889vw;
  flex-direction: column
}
.style12,
.style21 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 1.0416666666666667vw
}
.style12 {
  margin-top: 0
}
.style21 {
  margin-top: 1.5972222222222223vw
}
.style23 {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  display: flex;
  margin-left: 41.666666666666664vw;
  width: 18.055555555555557vw;
  height: 2.7777777777777777vw;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px
}
.style26 {
  color: rgba(203,208,211,.5);
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  line-height: 20px;
  margin-left: 1.3888888888888888vw;
  width: 2.4305555555555554vw
}
.style24 {
  display: flex;
  margin-left: 15.555555555555555vw;
  flex-direction: column
}
.style24,
.style25 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style34 {
  display: flex;
  margin-left: 69.44444444444444vw;
  flex-direction: column
}
.style34,
.style35 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.style31 {
  margin-left: 72.77777777777777vw
}
.style31,
.style32 {
  display: flex;
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw;
  flex-direction: column
}
.style28,
.style33 {
  width: 1.1111111111111112vw;
  height: .9012179904513888vw
}
.style28 {
  display: flex;
  margin-left: 76.11111111111111vw;
  height: 1.1111789279513888vw;
  flex-direction: column
}
.style29,
.style30 {
  height: 1.1111111111111112vw
}
.style29 {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1.1111111111111112vw
}
.style30 {
  width: .5802408854166666vw
}
.style36 {
  display: flex;
  margin-left: 79.44444444444444vw;
  flex-direction: column
}
.style36,
.style37 {
  width: 1.1111111111111112vw;
  height: 1.1111111111111112vw
}
.desktop1container1row1 {
  display: flex;
  margin-left: 16.666666666666668vw;
  margin-top: 7.083333333333333vw;
  width: 19.02777777777778vw;
  height: 1.0416666666666667vw
}
.style13,
.style14 {
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 1.0416666666666667vw
}
.style13 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  margin-left: 0
}
.style14 {
  margin-left: 6.944444444444445vw
}
.style14,
.style15,
.style27 {
  color: #cbd0d3;
  font-family: Helvetica,serif
}
.style15 {
  font-weight: 700;
  height: 1.0416666666666667vw;
  font-size: .9027777777777778vw;
  margin-left: 13.88888888888889vw
}
.style27 {
  font-size: .7638888888888888vw;
  line-height: 20px;
  margin-left: 51.388888888888886vw;
  margin-top: 7.916666666666667vw;
  width: 18.055555555555557vw
}
.desktop1container1row3 {
  display: flex;
  margin-left: 16.666666666666668vw;
  margin-top: 8.680555555555555vw;
  width: 17.22222222222222vw;
  height: 1.0416666666666667vw
}
.style16,
.style17,
.style18 {
  color: #cbd0d3;
  font-family: Helvetica,serif;
  font-size: .9027777777777778vw;
  font-weight: 700;
  height: 1.0416666666666667vw
}
.style16 {
  margin-left: 0
}
.style17,
.style18 {
  margin-left: 6.944444444444445vw
}
.style18 {
  margin-left: 13.88888888888889vw
}